.fs{
    font-size: 95px;
}
.clr{
    background-color: #002d2d;
}
.butn{
    border-radius:2px;
    font-size: 20px;
    background-color: #008060;
}
.dis{
    font-size: 75px;
}
.bckg{
    background-color: #fff8f6;
}
.bckg1{
    background-color: #c6f0fc;
}
.nob{
    font-size: 75px;
}
.poo{
    font-size: 80px;
   color: #004c3f;
}
.big{
   background-color: #f3fcf4;
}